<div class="header">
    <div class="inner-header">
        <div class="menu-container">
            <button id="menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Header menu">
                <mat-icon id="menu-icon">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/breaks">
                    <mat-icon>warning</mat-icon>
                    <span>Breaks</span>
                </button>
                <button mat-menu-item routerLink="/funds">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Funds</span>
                </button>
                <button mat-menu-item routerLink="/desembs">
                    <mat-icon>panorama_fish_eye</mat-icon>
                    <span>Desembs</span>
                </button>
                <button mat-menu-item routerLink="/changes">
                    <mat-icon>swap_horiz</mat-icon>
                    <span>Changes</span>
                </button>
            </mat-menu>
        </div>
        <div class="logo-container" routerLink="/home">
            <img id="logo-img" src="../../../assets/midia/placeholder.jpg" alt="logo">
        </div>
        <div class="subtitle-container">
            <span id="subtitle-span">{{ name }} {{ version }}</span>
        </div>
        <div class="title-container">
            <span id="title-span">Treasury</span>
        </div>
    </div>
</div>