@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

main {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

svg {
    max-height: 400px;
    margin: auto auto auto 40px;
}

h1 {
    width: auto;
    height: auto;
    margin: 32px;
    font-size: 7.5em;
    font-weight: bold;
    align-items: center;
}

h2 {
    font-weight:bold;
}

button {
    font-family:"Nunito Sans";
}
.btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    &.green {
      border: 4px solid;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        z-index: -1;
        transition: 0.2s ease;
      }
      &:hover {
        transition: 0.2s ease;
        &:before {
          width: 100%;
        }
      }
    }
}