/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: var(--orange);
}

#all_desembs_btn {
    font-weight: bold;
    font-size: large;
}

main {
    width: auto;
    margin: auto;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
}

app-desemb-list {
    display: inline-block;
    width: auto;
    margin: auto;
}
