<div class="list-container">
    <mat-list>
        <mat-list-item>
            <button mat-raised-button routerLink="/breaks">
                <mat-icon inline="true">warning</mat-icon>
                <span>Breaks</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button routerLink="/funds">
                <mat-icon inline="true">shopping_basket</mat-icon>
                <span>Funds</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button routerLink="/desembs">
                <mat-icon inline="true">panorama_fish_eye</mat-icon>
                <span>Desembs</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-raised-button routerLink="/changes">
                <mat-icon inline="true">swap_horiz</mat-icon>
                <span>Changes</span>
            </button>
        </mat-list-item>
    </mat-list>
</div>