/* You can add global styles to this file, and also import other style files */

:root {
    --min_screen_height: 646px;
    --min_screen_width: 720px;
    
    --min_list_height: 300px;
    --min_list_width: 600px;

    --blue: rgb(0, 1, 149);
    --orange: rgb(252, 101, 32);
    --orange_bg: rgba(252, 101, 32, .15)
}




html, body {
    height: 100%;
    width: 100%;
    min-width: var(--min_screen_width);
    min-height: var(--min_screen_height);
}

body {
    background-color: var(--orange_bg);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
